/* .table {
    width: auto;
    margin: auto;
  }
  
  .table thead th {
    text-align: center;
  }
  
  .table tbody td {
    text-align: center;
  }
  
  .table tbody tr {
    border-bottom: 1px solid #dee2e6;
  } */
  